<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
      <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
  <body>
    <div id="IndexBodyDiv">
      <h1>Congratulations!</h1>
      <p>You've made a high score! Enter your name below so we can record it!</p>
      <input type='text' name='player'></input>
      <p><form action="/logScore" method="post"><input type="submit" value="Submit"/></form></p>
    </div>
  </body>
</html>
