<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Quiz</title>
      <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
  <body>
    <div id="IndexBodyDiv">
      <h1>QUIZ</h1>
      <p>What... is your name?</p>
      <input type='text' name='QuestionOne'></input>
      <p>What... is your quest?</p>
      <input type='text' name='QuestionTwo'></input>
      <p>What... is your favorite color?</p>
      <input type='text' name='QuestionThree'></input>
      <p>What... is the airspeed velocity of an unladen swallow?</p>
      <input type='text' name='QuestionFour'></input>
      <p>What... movie is this referencing?</p>
      <input type='text' name='QuestionFive'></input>
      <p><form action="/submit" method="get"><input type="submit" value="Submit"/></form></p>
      <p><form action="/hiscores" method="get"><input type="submit" value="See High Scores"/></form></p>
    </div>
  </body>
</html>
